<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">

            <div class ="sale-view" data-ng-controller="products-controller as productsctrl"> 

                <div class="block-header">
                    <h2>Produtos
                        <!-- <small>Lista de produtos no carrinho</small> -->
                    </h2>
                </div>
                
                <div class="card drop-card">
                    <div class="card-header drop-card-header">
                        <h2>Lista de produtos <small>Produtos à venda e em estoque</small></h2>
                    </div>
                            
                    <div class="card-body drop-card-body">
                        <div ng-if="dataList.length > 0" class="table-responsive">
                            <table ng-table="detachedContractTable" class="table table-striped table-vmiddle selectable-table">
                                <tr ng-repeat="w in dataList" ng-click="setSelected(w)">
                                    <td data-title="'Código'">
                                        <span>{{ w.cod }}</span>
                                    </td>
                                    <td data-title="'Nome'">
                                        <span>{{ w.nome }}</span>
                                    </td>
                                    <td data-title="'Fornecedor'">
                                        <span>{{ w.fornecedor }}</span>
                                    </td>
                                    <td data-title="'Valor'">
                                        <span>{{ w.valor | currency : "R$ " : 2 }}</span>
                                    </td>

                                   <!--  <td data-title="'Foto'">
                                        <span><a href="" ng-click="teste()">Ver foto</a></span>
                                    </td> -->
                                </tr>
                            </table>
                        </div>
                        
                        <div ng-if="loading" class="table-message">
                            <div class="preloader pl-lg">
                                <svg class="pl-circular" viewBox="25 25 50 50">
                                    <circle class="plc-path" cx="50" cy="50" r="20" />
                                </svg>
                            </div>
                        </div>
                        
                        <div ng-if="dataList.length == 0 && !loading" class="table-message">
                            <p>Nenhum produto cadastrado</p>
                        </div>

                        <div class="drop-card-bottom">
                            <div class="bottom-buttons">
                                <button class="btn bgm-blue" ng-click="openDialogCreateNew()">Novo</button>
                                <!-- <button ng-if="dataList.length > 0" class="btn bgm-green" ng-click="openUpdateProductDialog(selectedContractDetached)">Editar</button> -->
                                <button ng-if="dataList.length > 0" class="btn bgm-red" ng-click="removeProduct(selectedContractDetached)">Remover</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modalDialog" id="dialogCreateNew">
                    <div class="modalDialogBox">
                        <div class="modalDialogContent">
                            <h2>Cadastro de Produtos</h2>
                            
                            
                                <div class="form-group fg-line">
                                    <label class="f-500 c-black">Nome</label>
                                    <input ng-model="novoProduto.nome" class="form-control fg-input" id="inputName">
                                </div>
                            

                            
                                <div class="form-group fg-line">
                                    <label class="f-500 c-black">Fornecedor</label>
                                    <input ng-model="novoProduto.codFornecedor" class="form-control fg-input" id="inputProvider">
                                </div>
                            
                            
                            
                                <div class="form-group fg-line">                      
                                    <label class="f-500 c-black">Valor Aquisição</label>
                                    <input ng-model="novoProduto.valorFornecedor" type="number" class="form-control fg-input text-right" id="inputValue">
                                </div>
                            
                            
                            
                                <div class="form-group fg-line">                      
                                    <label class="f-500 c-black">Valor Venda</label>
                                    <input ng-model="novoProduto.valorVenda" type="number" class="form-control fg-input text-right" id="inputValue">
                                </div>
                            
              
                            
                               <!--  <div class="form-group fg-line">
                                    <label class="f-500 c-black">Escolher Foto</label>
                                    <div class="form-group fg-line">
                                    <img class="image-size" src="../img/no-image.png"> 
                                    </div>
                                    <div class="form-group fg-line"> 
                                    <button ng-if="isNewContractDefinition" ng-click="openUpdateContractDefinitionDialog()" class="btn-size btn bgm-green btn-icon-text"><i class="zmdi zmdi-edit"></i>Foto</button> 
                                    </div>
                                </div> -->
                            

                            <div class="col-sm-12 bottom-buttons">
                                <button ng-click="registrarProduto()" class="btn bgm-green btn-icon-text"><i class="zmdi zmdi-edit"></i> Cadastrar</button> 
                                <button ng-click="closeDialogModal('dialogCreateNew')" class="btn bgm-orange btn-icon-text"><i class="zmdi zmdi-close"></i> Cancelar</button>
                            </div>
                        </div>
                    </div>  
                </div>

    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>

        


