<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">

            <div class ="sale-view" data-ng-controller="providers-controller as providersctrl"> 

                <div class="block-header">
                    <h2>Fornecedores
                        <!-- <small>Lista de produtos no carrinho</small> -->
                    </h2>
                </div>
                
                <div class="card drop-card">
                    <div class="card-header drop-card-header">
                        <h2>Fornecedores 
                            <!-- <small>Fornecedores.</small> -->
                        </h2>
                    </div>
                            
                    <div class="card-body drop-card-body">
                        <div ng-if="dataList.length > 0" class="table-responsive">
                            <table ng-table="detachedContractTable" class="table table-striped table-vmiddle selectable-table">
                                <tr ng-repeat="w in dataList" ng-click="setSelected(w)">
                                    <td data-title="'Código'">
                                        <span>{{ w.cod }}</span>
                                    </td>
                                    <td data-title="'Nome'">
                                        <span>{{ w.name }}</span>
                                    </td>
                                    <td data-title="'Total vendido'">
                                        <span>{{ w.dueValue | currency : "R$ " : 2 }}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                        <div ng-if="loading" class="table-message">
                            <div class="preloader pl-lg">
                                <svg class="pl-circular" viewBox="25 25 50 50">
                                    <circle class="plc-path" cx="50" cy="50" r="20" />
                                </svg>
                            </div>
                        </div>
                        
                        <div ng-if="dataList.length == 0 && !loading" class="table-message">
                            <p>Sem fornecedores</p>
                        </div>

                        <div class="drop-card-bottom">
                            <div class="bottom-buttons">
                                <button class="btn bgm-blue" ng-click="openDialogCreateNew()">Novo</button>
                                <!-- <button ng-if="dataList.length > 0" class="btn bgm-green" ng-click="openUpdateProductDialog(selectedContractDetached)">Editar</button> -->
                                <button ng-if="dataList.length > 0" class="btn bgm-red" ng-click="removeProduct(selectedContractDetached)">Inativar</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modalDialog" id="dialogCreateNew">
                    <div class="modalDialogBox">
                        <div class="modalDialogContent">
                            <h2>Cadastro de Fornecedores</h2>

                            <div class="col-sm-6" >
                                <div class="form-group fg-line">
                                    <label class="f-500 c-black">Nome</label>
                                    <input ng-model="novoFornecedor.nome" class="form-control fg-input" id="inputName">
                                </div>

                                <div class="form-group fg-line">                            
                                    <label class="f-500 c-black">CPF</label>
                                    <input ng-model="novoFornecedor.cpf" type="text"  maxlength="11" class="select-text form-control fg-input text-right" id="inputFederalId">
                                </div>
                           
                                <div class="form-group fg-line">                      
                                    <label class="f-500 c-black">Telefone</label>
                                    <input ng-model="novoFornecedor.telefone" type="tel" ng-model="teste" class="select-text cellphone form-control fg-input text-right" id="inputTelephone">
                                </div>
                            </div>
                            
                            <div class="col-sm-12 bottom-buttons">
                                <button ng-click="cadastrarFornecedor()" class="btn bgm-green btn-icon-text"><i class="zmdi zmdi-edit"></i> Cadastrar</button> 
                                <button ng-click="closeDialogModal('dialogCreateNew')" class="btn bgm-orange btn-icon-text"><i class="zmdi zmdi-close"></i> Cancelar</button>
                            </div>
                        </div>
                    </div>  
                </div>

    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>

        


