<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content">
        <div class="container">

            <div class ="sale-view" data-ng-controller="sales-controller as salesctrl"> 

                <div class="block-header">
                    <h2>Venda
                        <!-- <small>Lista de produtos no carrinho</small> -->
                    </h2>
                </div>
                
                <div class="card drop-card">
                    <div class="card-header drop-card-header">
                        <h2>Produtos <small>Lista de produtos no carrinho.</small></h2>
                    </div>
                            
                    <div class="card-body drop-card-body">
                        <div ng-if="dataList.length > 0" class="table-responsive">
                            <div class="form-group" style="padding: 18px;">
                                <div class="fg-line">
                                    <div class="select">
                                        <select class="form-control" ng-model="$parent.produtoAdicionar" ng-options="item as (item.cod + ' - ' + item.nome) for item in dataList track by item.cod">
                                        </select>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="bottom-buttons">
                                <button class="btn bgm-blue" ng-click="adicionarProduto()">Adicionar</button>
                            </div>
                            <table ng-table="detachedContractTable" class="table table-striped table-vmiddle selectable-table">
                                <tr ng-repeat="w in $parent.tableDataList" ng-click="setSelected(w)">
                                    <td data-title="'Código'">
                                        <span>{{ w.cod }}</span>
                                    </td>
                                    <td data-title="'Nome'">
                                        <span>{{ w.nome }}</span>
                                    </td>
                                    <td data-title="'Fornecedor'">
                                        <span>{{ w.fornecedor }}</span>
                                    </td>
                                    <td data-title="'Valor'">
                                        <span>{{ w.valor | currency : "R$ " : 2 }}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                        <div ng-if="dataList.length == 0 && !loading" class="table-message">
                            <p>Sem produtos</p>
                        </div>

                        <h2 class="total-value"> TOTAL: <span>{{valorTotal | currency : "R$ " : 2}}</span></h2>
                        
                        <div ng-if="loading" class="table-message">
                            <div class="preloader pl-lg">
                                <svg class="pl-circular" viewBox="25 25 50 50">
                                    <circle class="plc-path" cx="50" cy="50" r="20" />
                                </svg>
                            </div>
                        </div>

                        <div class="drop-card-bottom">
                            <div class="bottom-buttons">
                                <button class="btn bgm-blue" ng-click="concluirVenda()">Finalizar</button>
                                <button ng-if="dataList.length > 0" class="btn bgm-red" ng-click="removerProduto()">Remover</button>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>

        


